
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        @*div>ul>li*5>p>{Merhaba Gençler}*@
        <div>
            <ul>
                <li>
                    <p>Merhaba Gençler</p>
                </li>
                <li>
                    <p>Merhaba Gençler</p>
                </li>
            </ul>
        </div>
    </div>

    @*div>lorem5*@
    <div>Consectetur adipiscing elit fusce vel.</div>

    @*ul>li.item*5*@
    <ul>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
    </ul>

    @*ul>li.item$*5*@
    <ul>
        <li class="item1"></li>
        <li class="item2"></li>
        <li class="item3"></li>
        <li class="item4"></li>
        <li class="item5"></li>
    </ul>

    @*ul>li.item$*5*@
    <ul>
        <li class="item01"></li>
        <li class="item02"></li>
        <li class="item03"></li>
        <li class="item04"></li>
        <li class="item05"></li>
    </ul>


</body>
</html>
