
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        @*<h1>@TempData["Brans"]</h1>*@
        <br />
        <a href="/Home/Index">INDEX</a><br />
        <a href="/Home/Contact">CONTACT</a><br />
    </div>
</body>
</html>
