
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact2</title>
</head>
<body>
    <div>
        <h1>@TempData["Brans"]</h1>
        <br />
        <a href="/Home/Index">INDEX</a>
    </div>
</body>
</html>
