
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        @*<h1>@TempData["Brans"]</h1>*@
        <br />
        <a href="/Home/Contact2">Contact 2</a>
    </div>
</body>
</html>
