
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Ad</h1>
        <h1>@ViewData["Soyad"]</h1>
        @*<h1>@TempData["Brans"]</h1>*@
<br />
        <a href="/Home/About">ABOUT</a>
    </div>
</body>
</html>
